<%= form_for([@user, @board, @list]) do |f| %>
  <div class='form-group'>
    <%= f.label      :name %>
    <%= f.text_field :name, class: 'form-control', 
                            autofocus: true, 
                            placeholder: 'Write name of the board...' %>
  </div>

  <% unless @list.new_record? %>
    <div class='form-group'>
      <%= f.label        :position %>
      <%= f.number_field :position, class: 'form-control',
                                    placeholder: 'Leave blank if you don\'t care about positioning...' %>
    </div>
  <% end %>

  <%= f.submit 'Save List', class: 'btn btn-lg btn-primary' %>
<% end %>
