<div class='row'>
  <h4 class='board-highlight text-center'>
    Board name: 
    <span class='knewave' style='font-size: 1.5em'><%= @board.name %></span>
    <%= link_to 'delete', user_board_path(@user, @board), method: :delete, data: { confirm: 'Are you sure?' },  class: 'pull-right btn btn-primary big-opacity' %>
    <%= link_to 'edit', edit_user_board_path(@user, @board), class: 'pull-right btn btn-primary big-opacity' %>
  </h4>
</div>
<div class='row'>
  <%= link_to 'New list', new_user_board_list_path(@user, @board), class: 'btn btn-primary' %>
</div>

<div class='row text-center'>
  <% if @lists.empty? %>
    <br>
    <br>
    <h2>You have no lists yet!</h2>
    <br>
  <%= link_to 'Create your first list', new_user_board_list_path(@user, @board), class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
