<ul class="nav nav-pills">
<% if logged_in? %>
  <li role="presentation" class="<%= cp(user_boards_path(current_user)) %>">
    <%= link_to 'All Boards', user_boards_path(current_user) %>
  </li>
  <li role="presentation" class="<%= cp(new_user_board_path(current_user)) %>">
    <%= link_to 'New Board', new_user_board_path(current_user) %>
  </li>
<% end %>
  </li>
  <li role="presentation" class="<%= cp(help_center_path)%>">
    <%= link_to 'Help center', help_center_path %>
  </li>
  <li role="presentation" class="<%= cp(about_us_path) %>">
    <%= link_to 'About us', about_us_path %>
  </li>
<% unless logged_in? %>
  <li role="presentation" class="<%= cp(login_path) %>">
    <%= link_to 'Login', login_path %>
  </li>
  <li role="presentation" class="<%= cp(sign_up_path) %>">
    <%= link_to 'Sign up', sign_up_path %>
<% else %>
  <li role="presentation" >
    <%= link_to 'Logout', logout_path, method: :delete %>
  </li>
<% end %>
</ul>
