<ul class="nav nav-pills">
<% if logged_in? %>
  <li role="presentation" >
    <%= link_to 'Logout', logout_path, method: :delete %>
  </li>
<% else %>
  <li role="presentation" class="<%= cp(login_path) %>">
    <%= link_to 'Login', login_path %>
  </li>
  <li role="presentation" class="<%= cp(sign_up_path) %>">
    <%= link_to 'Sign up', sign_up_path %>
  </li>
<% end %>
  <li role="presentation" class="<%= cp(help_center_path)%>">
    <%= link_to 'Help center', help_center_path %>
  </li>
  <li role="presentation" class="<%= cp(about_us_path) %>">
    <%= link_to 'About us', about_us_path %>
  </li>
</ul>
