<!DOCTYPE html>
<html>
<head>
  <title>TrelloCloneApp</title>
  <%= stylesheet_link_tag   'application', 
                             media: 'all', 
                            'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag   'application', 
                            '//fonts.googleapis.com/css?family=Knewave' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/flash' %>
<div class='container logo-and-navigation'>
  <%= render 'layouts/jumbotron' %>
  <%= render 'layouts/nav' %>
</div>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
